@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1> Филиал АО "Сетевая компания" </h1>
    <h2> Буинские электрические сети</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Автоматизированное рабочее место диспетчера</h2>
        <p>
         Приложение предназначено для учета аварийных отключений и их анализа.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Официальный сайт организации</h2>
      <p>  С заботой о каждом, с энергией для всех!</p>
        <br>
        <p><a class="btn btn-default" href="hhttps://gridcom-rt.ru/"> Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Следите за новостями БуЭС</h2>
        <p>Новости и фотографии из жизни молодежи БуЭС</p>
        <p><a class="btn btn-default" href="https://www.instagram.com/mk_bues/?hl=en"> Перейти &raquo;</a></p>
    </div>
</div>