@model GridCom.Models.Substation

@{
    ViewData["Title"] = "Удаление";
}



<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <h4>Подстанции</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_PS)
        </dd>
        <dt class = "col-sm-2">
            РЭС
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RES.Name_RES)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SubstationID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
