@model GridCom.Models.Feeder

@{
    ViewData["Title"] = "Детали";
}

<h1>Информация</h1>

<div>
    <h4>Список фидеров</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Подстанция
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Substations.Name_PS)
        </dd>
        <dt class="col-sm-2">
           Номер фидера
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Num_feeder)
        </dd>
        <dt class="col-sm-2">
            Протяженность, км
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Extent_feeder)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FeederID">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
