@model GridCom.Models.Feeder

@{
    ViewData["Title"] = "Изменение";
}

<h1>Изменение</h1>

<h4>Список фидеров</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FeederID" />
            <div class="form-group">
                <label asp-for="Substations" class="control-label">Подстанция</label>
                <select asp-for="SubstationID" class="form-control" asp-items="ViewBag.SubstationID">
                    <option value="">-- Выбор ПС --</option>
                </select>
                <span asp-validation-for="SubstationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Num_feeder" class="control-label">Номер фидера</label>
                <input asp-for="Num_feeder" class="form-control" />
                <span asp-validation-for="Num_feeder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extent_feeder" class="control-label">Протяженность, км</label>
                <input asp-for="Extent_feeder" class="form-control" />
                <span asp-validation-for="Extent_feeder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
