@model GridCom.Models.RES

@{
    ViewData["Title"] = "Изменение";
}

<h1>Изменение</h1>

<h4>РЭС</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RESID" />
            <div class="form-group">
                <label asp-for="Name_RES" class="control-label">РЭС</label>
                <input asp-for="Name_RES" class="form-control" />
                <span asp-validation-for="Name_RES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName_RES" class="control-label">Полное название РЭС</label>
                <input asp-for="FullName_RES" class="form-control" />
                <span asp-validation-for="FullName_RES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress_RES" class="control-label">Адрес</label>
                <input asp-for="Adress_RES" class="form-control" />
                <span asp-validation-for="Adress_RES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
